*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: white;
}

.header{
    width: 100%;
    height: 100px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
   
}

nav a{
    
    padding: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.logo{
    padding-left: 20px;
}

.sign-btn {
    margin:  70px;
    background-color: darkorange;
}
.centertext{
    width: 880px;
    height: 50px;
    background-color: white;
    margin-right: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.h2{
    position: relative;
    width: 100%;
    height: 100px;
    background-color:white;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.h2 img{
    position: absolute;
   display: flex;
   margin-left: 650px;
   margin-top:  30px;
}
.sign-btn{
    border: none;
    width: 70px;
    height: 40px;

    border-radius: 20px;
    cursor: pointer;
}
.sign-btn{
    background-color:rgb(228, 189, 19)
}
.sign-btn:hover{
    background-color: rgb(222, 194, 13);
}
.main{
    width: 100%;
    height: 356vh;
    background-color: whitesmoke;
   padding-top: 6px;

}




   
    

.main-header-wraper{
    /* background-color: yellow; */
    position: fixed;
    display: flex;
     background-color: rgba(0, 0, 0, 0.575); 
    margin-top: 10px;
    width: 22%;
    height: 73px;
    border-radius: 15px;
}
.space{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15vh;
    /* background-color: aquamarine; */
}
#main-header{
    /* background-color: violet; */
    width: 100%;
    height: 100%;
    display: flex;
    font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 18px
  
    

  
}

.main a{
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
     text-decoration: none;
     
     color: white;
    
}
.fimage img{
  width: 80%;
  margin-left:150px;
  padding-top: 60px;
  
}
.text-what{
    text-align: center;
    padding-top:70px;
    font-style:inherit;

}
.simage img{
    width: 100%;
   height: 370px;
}
.simage{
    padding-left: 150px;
    padding-top: 30px;
}
.stext{
   
   
    
    padding-right: 100px;

}
.stext{
    padding-left: 200px;
    padding-top: 150px;
 
   
    
}

.sec2{
    background-color:whitesmoke;
    display: flex;
}
.shbutton{
    margin-left: 20px;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 200px;
    width: 300px;
    height: 35px;
    background-color: white;
    cursor: pointer;
}
.shbutton:hover{
    background-color: rgb(215, 215, 215);
}
.simage2 img{
    width: 100%;
   height: 370px;
}
.simage2{
    padding-right: 150px;
    padding-top: 30px;
}
.stext2{
   
   
    
    padding-right: 100px;

}
.stext2{
    padding-left: 200px;
    padding-top: 150px;
 
   
    
}
.img3 img{
    width: 90%;
}
.img3{
    padding-left: 120px;
    margin-top: 150px;
   
}
.dotbtn{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    
    
    
}
.dotbtn button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.endboarder1{
    display: flex;
    width:82%;
    height: 110px;
    background-color: black;
    margin-left: 125px;


}
.boardertext1{
    color: white;
    padding-left: 40px;
}
.endboarder1{
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}
.endboarderbtn{
    padding-right: 50px;
   
   
}
.endboarderbtn button{
    width: 300px;
    height: 40px;
    border: solid 2px #fff;
     background-color: black;
    color:white;
     border-radius:50px;
     transition:0.2s;
}
.endboarderbtn button:hover{
    background-color: #2b2b2b;
}
.endboarder2{
    display: flex;
    width:82%;
    height: 110px;
    background-color:rgb(0 167 74);
    margin-left: 125px;
}
.endboarder2{
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    
}
.ndboaderbtn2 button{
width: 40px;
height: 40px;
border-radius: 50px;
display: flex;
justify-content: center;
align-items: center;
background: none;
border: solid 1px black;
}
.ndboaderbtn2 button:hover{
    background-color: #2b2b2b2d;

}
.ndboaderbtn2{
    position: relative;
    right: 30px;
    /* background-color: aqua; */
    width: 18%;
    display: flex;
    justify-content: space-around;
}
.footer {
  background: black;
  color: white;
  padding: 90px;
  /* font-family: Arial, sans-serif; */
}

/* .footer-logo {
  font-size: 22px;
  font-weight: 400;
} */

/* .footer-logo .coca {
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
} */

.footer-line {
  border: none;
  height: 1px;
  background: white;
  /* opacity: 0.4; */
  /* margin: 30px 0; */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.footer-col h4 {
  font-size: 13px;
  margin-bottom: 20px;
  opacity: 0.7;
}

.footer-col a {
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}

.footer-col a:hover {
  /* text-decoration: underline; */
}

.footer-social {
  display: flex;
  gap: 15px;
  /* align-items: flex-start; */
}

.footer-social a {
  width: 45px;
  height: 45px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-decoration: none; */
  color: white;
  /* font-weight: bold; */
}

.footer-bottom {
  text-align: right;
  font-size: 14px;
  margin-top: 20px;
  /* opacity: 0.7; */
}

